.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tex
/.quarto/
*.DS_Store
/data/
*.pdf
/figs/
/writing/
!.gitignore
!meta
meta/*
!meta/meta
_targets/
hill_tausanovitch/
fits
googlecloudstorager-auth-key.json
/presentation_cache/
fits/cat_2pl.rds
/ideals_paper_cache/
