/*-- scss:defaults --*/

$body-bg: white;
$body-color: black;
$link-color: #3791FF;
$presentation-heading-color: #3791FF;
$presentation-h2-font-size: 1.3em;
$font-family-sans-serif: "StyreneB";

/*-- scss:rules --*/

.reveal .callout.callout-style-default div.callout-body{
 	  font-size: 1.5rem;
}